.formContent {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
}

.navbar-img {
    width: 100px;
    height: auto;
    background-color: #50c9c3;
}

.navbar-nav{
    display: flex;
    flex-direction:row;
}

.navbar, .navbar-collapse, .dropdown-item {
    background-color: #50c9c3;
}


#gridPanel, .gridActionPanel, #formActionPanel,#formPanel, .formActionPanel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.table {
    width: max-content;
    margin-top: 30px;
    background-color: #f5f7fa;
    box-shadow: #c3cfe2 5px 5px 5px
}

.btnSeleccionar {
    border-color: #50c9c3;
    font-size: 15px;
    color: #50c9c3;
}

.btnSeleccionar:hover {
    background-color: #50c9c3;
}



.actionPanel{
    border: solid #50c9c3 2px;
    padding: 5px 0px;
    width:max-content;
    border-radius: 5px;

}

.actionPanelLink{
    border-right: solid #50c9c3 2px;
    padding: 5px 30px;
    text-decoration:none;
    color:black;
    width:600px;
}

    .actionPanelLink:hover {
        background-color: #50c9c3;
        text-decoration: none;
        color: black;
        width: 600px;
    }

.lastLink{
    border:none;
}

.formLabel{
    width: 150px;
    text-align:right;
    margin-right: 10px;
}

.formTextBox{
    width: 250px;
}

.habilitadoBox {
    width: 250px;
    display:flex;
    justify-content: flex-start;
}

.formRow{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-direction:row;
    margin-bottom: 5px;
}

.formDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 10px 0;
}

.formPanel {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.dropdown-toggle {
    width: 250px;
    background-color: transparent;
    color: black;
    border: 1px solid #ced4da;
    text-align: left;
}